@layer base {
	:root {
		--sidebar-background: var(--color-background);
	}

	.dark {
		--sidebar-background: var(--color-background);
	}
}

/* Ensure the html element fills the viewport without scroll */
html,
body {
	height: 100%;
	overflow: hidden;
}
